* {
	font-family: 'Open Sans', sans-serif;
}

html {
    background-color: snow;
  }

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* Style the tab */
.tab {
    width: 80%;
    display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #43AD48;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
    width: 80%;
    overflow: scroll;
    margin-top: 20px;
}

#task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* .task {
    width: 80%;
    padding: 10px;
    background-color: #C8E6C9;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.task > img {
    width: 100px;
    height: 100px;
}

.task-header {
    font-size: 24px;
    margin: 0;
} */

/* List styles */
.list {
	width: 100%;
	margin: 0;
	padding: 0;
}

.list .list-item {
	margin: 30px 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list .list-content {
    display: flex;
    width: 100%;
    z-index: 1;
    padding: 16px;
    background: #C8E6C9;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
}

.list .list-content .profile {
    width: 55%;
    pointer-events: none;
}

.list .list-content .caption {
    width: 75%;
    padding-left: 6px;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
}

.list .list-content img {
    width: 100px;
    height: 100px;
}

.list .list-content h3 {
    color: #010101;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.list .list-content p {
    color: 010101;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.list button {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 18px;
    transition: .2s ease-out;
}

.list button .list-icon {
    width: 100px;
    font-size: 30px;
}

.list .invite {
    right: 10px;
    color: #010101;
    background: #e7eaed;
    justify-content: flex-end;
}

/* Style for invitation profiles */
.popup {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	justify-content: center;
	overflow-x: auto;
	white-space: nowrap;
	box-sizing: border-box;
    border-radius: 8px; 
    align-items: center; 
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
}

.popup .profile img {
	display: inline-block;
	width: 80px;
	height: 80px;
	object-fit: contain;
	border-radius: 50%;
}
  
.popup .profile p {
	margin-top: 2px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.popup button {
    cursor: pointer;
    position: absolute;
    display: flex;
    bottom: 5px;
    justify-content: flex-start;
    border-radius: 18px;
    transition: .2s ease-out;
}

/* Style the tab content for mobile devices */
@media screen and (max-width: 600px) {
	.tab button {
		font-size: 12px;
	}
	.tabcontent {
		padding: 4px 8px;
	}
	.list button .list-icon {
        width: 65px;
        font-size: 28px;
    }
}