* {
	font-family: 'Open Sans', sans-serif;
}

.bx {
    width: 100%;
    height: 100%;
    font-size: 25px;
}

html {
    background-color: snow;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* Style the tab */
.tab {
    width: 80%;
    display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #43AD48;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
    width: 80%;
    height: 100%;
    overflow: scroll;
    margin-top: 20px;
}

/* #task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.task {
    width: 80%;
    padding: 10px;
    background-color: #C8E6C9;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.task > img {
    width: 100px;
    height: 100px;
} */

.task-header {
    font-size: 20px;
    margin: 0;
} */

/* List styles */
.list {
	width: 100%;
	margin: 0;
	padding: 0;
}

.list .list-item {
	margin: 30px 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list .list-content {
    display: flex;
    width: 100%;
    z-index: 1;
    padding: 16px;
    background: #C8E6C9;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
}

.list .list-content .profile {
    width: 55%;
    pointer-events: none;
}

.list .list-content .caption {
    width: 75%;
    padding-left: 6px;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
    bottom: 1px;
}

.list .list-content img {
    width: 100px;
    height: 100px;
}

.list .list-content p {
    color: 010101;
    padding: 3px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* For the ellipse icon */
.list .list-content button {
    width: 0%;
    height: 0%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    border: transparent;
    background-color: transparent;
}

/* For complete button */
.list button:last-child {
    cursor: pointer;
    position: absolute;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list button .list-icon {
    top: 0;
    right: 0;
    position: absolute;
    width: 100px;
    font-size: 30px;
}

/* For the complete icon */
.list .complete {
    right: 10px;
    color: #010101;
    background: transparent;
    justify-content: flex-end;
}

/* Style for pop-ups */
.popup {
	width: 100%;
	margin: 0 auto;
	padding: 40px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	justify-content: center;
	overflow-x: auto;
	white-space: nowrap;
	box-sizing: border-box;
    border-radius: 8px; 
    align-items: center; 
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
}

.popup .profile img {
	display: inline-block;
	width: 80px;
	height: 80px;
	object-fit: contain;
	border-radius: 50%;
}
  
.popup .profile p {
	margin-top: 2px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.popup button:first-child {
    cursor: pointer;
    position: absolute;
    display: flex;
    bottom: 5px;
    justify-content: flex-start;
}

.popup button:nth-child(2) {
    
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-right: 13%;
    margin-bottom: 8%;
}

.popup button:nth-child(3) {
    
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: 13%;
    margin-bottom: 8%;
}

/* For fold completed tasks button */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border-radius: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

#comp {
    display: none;
}


/* Style the tab content for mobile devices */
@media screen and (max-width: 600px) {
	.tab button {
		font-size: 12px;
	}
	.tabcontent {
		padding: 4px 8px;
	}
	.list button .list-icon {
        width: 65px;
        font-size: 28px;
    }
}

/* Assistant Styles */

#Tab1 {
    overflow: hidden;
}

.chatbox {
    /* border: 1px solid ; */
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    margin-top: 5px;
}
.bubble {
    display: inline-block;
    max-width: 75%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.blue {
    background-color: #2f80ed;
    color: white;
    float: left;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
}
.green {
    background-color: #27ae60;
    color: white;
    float: right;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.2)
}

.btn {
    box-sizing: border-box;
    font-family: inherit;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-accept {
    --button-color: #00FF7F;
    --button-text-color: #fafbfc;
}

.btn-easier {
    --button-color: #88d2fc;
    --button-text-color: #fafbfc;
}

.btn-harder {
    --button-color: #0f75ae;
    --button-text-color:#fafbfc;  
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #9880ff;
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
}

.material-icons {
    vertical-align: middle;
}

.assistant-first-inputs {
    display: block;
    width: 300px;
    height: 35px;
    position: relative;
    box-shadow: inset 0px 4px 20px 4px rgba(0, 0, 0, 0.09);
    border-radius: 35px;
    overflow: hidden;
    margin-top: 5px;
}


.assistant-second-inputs {
    margin-top: 5px;
}


#userInput {
    width: 200px;
    background: none;
    border: none;
    padding: 12px 20px;
    color: #6A7C92;
}

#userInput:focus {
    outline: none;
}

#send {
    font-size: 12px;
    color: #6A7C92;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 35px;
    border-radius: 17px;
    border: none;
    background: none;
    box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
    cursor: pointer;
  }